<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Блок сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5">
  <h1>Добавление статьи</h1>
  <form action="/blog/add" method="post">
    <input type="text" name="title" placeholder="Введите название статьи" class="form-control"/>
    <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"/>
    <textarea name="full_text" placeholder="Введите польный текст статьи" class="form-control"></textarea>
    <button type="submit" class="btn btn-success">Добавить статью</button>
  </form>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>